.idea/
composer.phar
/vendor/
api_sql.php
load_func.php
let_json.php
def_json.php
data.json
domain_list.json
nameserver_list.json
domain_ns.json
db.sqlite3
eachfunc.php
.load_func/
index.json

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
